{% extends 'public/base.html.twig' %}

{% block title %}Registration step{% endblock %}

{% block body %}
<!-- Content section-->
<section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Wellcome !</h2>
                    <p class="lead">You are now registered user.</p>
                    <p class="mb-0">Please follow instructions that we sent over to your email.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
